<div class="containerContent">
    <div class="contentCover">
        <img src="{{photo}}"alt="produto selecionado"/>
    </div>
    <div class="contentTitle">
        <h1>{{title}}</h1>
    </div>
    <div class="contentDescription">
        <p>R$ {{price}}</p>
    </div>
    <div class="contentAvailable">
        <p>Quantidade disponível: {{available}}</p>
    </div>
    <div class="buy">
        <div class="quantity">
            <button (click)="decrement()" class="soma">-</button>
            <input type="number" readonly value="{{valor}}" class="valorBuy"/>
            <button (click)="increment()" class="sub">+</button>
        </div>
        <button class="btn-buy2">
            <a (click)="saveQuantityBuy(valor)" [routerLink]="['']">
                COMPRAR
            </a>
        </button>
    </div>
</div>
