<div class="space">
    
</div>
<div class="categories-container">
    <h3>Categorias disponíveis:</h3>
    <div class="categories-list">
        <app-category (click)="setFilter('nofilter')" photo="../../assets/grid.png" title="Celular"></app-category>
        <app-category (click)="setFilter('cel')" photo="../../assets/cel.png" title="Celular"></app-category>
        <app-category (click)="setFilter('note')" photo="../../assets/note.png" title="Notebook"></app-category>
        <app-category (click)="setFilter('game')" photo="../../assets/console.png" title="Games"></app-category>
    </div>
</div>